:root{
    --green: #6aaa64;
    --darkendGreen: #538d4e;
    --yellow: #c9b458;
    --darkendYellow: #b59f3b;
    --lightGray: #d8d8d8;
    --gray: #86888a;
    --darkGray: #3a3a3c;
    --white: #fff;
    --black: #212121;
    --orange: #f5793a;
    --blue: #85c0f9;
}
body{
    
    background-color: #121213;
    font-family: Arial, Helvetica, sans-serif;
}

#game-container{
    height: 98vh;
    display: grid;
    justify-content: center;
    #keyboard{
        margin-top: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .keyboard-key{
        height: 58px;
        width: 40px;
        background-color: var(--lightGray);
        border-radius: 4px;
        border: none;
        margin: 0px 3px;
    }
    #ENTER, #⇚{
        width: 65px;
    }
    #tile-container{
        color: white;
        width: 322px;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        gap: 4px;
    
        
        .guess-row{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            .tile{
                width: 45px;
                height: 45px;
                border: solid 2px var(--darkGray);
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
            }
            div[letter]{
                animation: pop .05s ease-in ;
                border: solid 2px var(--gray);
            }
            div[present]{
                animation: popx2 .05s ease-in ;
                background-color: var(--darkendYellow);
            }
            div[absent]{
                animation: popx2 .05s ease-in ;
                background-color: var(--darkGray);
                
            }
            div[correct]{
                animation: popx2 .05s ease-in ;
                background-color: var(--green);
                
            }
        }
    }
}

#wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

#settings{
    color: white;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    column-gap: 20px;
    justify-content: center;

    .switch {
        position: relative;
        display: inline-block;
        width: 45px;
        height: 24px;
    }
    button{
        border: none;
        background-color: transparent;
        color: #86888a;
        font-size: larger;
    }
    button:hover{
        color: white;
    }
    input[type = text]{
        background-color: transparent;
        color: white;
        border: none;
        border: solid grey 2px;
        height: 20px;
    }
    
    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 24px;
        width: 24px;
        left: 0px;
        bottom: 0px;
        background-color: grey;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked + .slider {
        background-color: #2196F3;
    }
    
    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }
}

#word_1v1_form{
    text-align: center;
    margin: 5px 0px;
    button{
        border: none;
        background-color: transparent;
        color: #86888a;
        font-size: larger;
    }
    button:hover{
        color: white;
    }
    input[type = text]{
        background-color: transparent;
        color: white;
        width: 60px;
        border: none;
        border: solid grey 2px;
        height: 20px;
    }
}


div[invalid]{
    animation: shake .6s ease-in ;
    
}

#loading_page{
    color: white;
    font-size: 40px;
    text-align: center;
    position: relative;
    margin-top: 20%;
}


@keyframes shake{
    0%{
        transform: translate(0);
    }
    20%,
    40%,
    60%,
    80%{
        transform: translate(.4em);
        
    }
    10%,
    30%,
    50%{
        transform: translate(-.4em);
        
    }
    70%,
    100%{
        transform: translate(0);

    }
}
@keyframes pop{
    50%  {transform: scale(1.1);}
}
@keyframes popx2{
    50%  {transform: scale(1.3);}
}

@media screen and (max-width: 491px) {
    #keyboard{
        margin-top: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .keyboard-key{
            height: 48px;
            width: 27px;
            background-color: var(--lightGray);
            border-radius: 4px;
            border: none;
            margin: 0px 3px;
        }
        #ENTER, #⇚{
            width: 55px;
        }
    }
}